@{
    ViewBag.Title = "Home Page";
}

<div class="row home">
    <div class="col-md-4">
        <paper-card id="project-card" elevation="3">
            <div class="card-content">
                <h2>Project</h2>
                <hr />
                Manage your project: define all the most important feature and associate contanct
            </div>
        </paper-card>
    </div>
    <div class="col-md-4">
        <paper-card id="contact-card" elevation="3">
            <div class="card-content">
                <h2>Contact</h2>
                <hr />
                Manage your project: define all the most important feature and associate contanct
            </div>
        </paper-card>
    </div>
    <div class="col-md-4">
        <paper-card id="distributor-card" elevation="3">
            <div class="card-content">
                <h2>Distributor</h2>
                <hr />
                Manage your project: define all the most important feature and associate contanct
            </div>
        </paper-card>
    </div>
</div>